// Define variables for your color scheme

// For example:
$red: #D12141;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-gray: #1D1D27;
$medium-gray: #36323F;
$pink: #FF4D62;
$light-pink: #ff7686;
$text-secondary: #D6D6D7;
$btn-secondary: #887F9D;
