// Specific CSS for your home-page
body {
  background-color: $dark-gray;
  color: white;
  margin-top: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

