@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-family: 'Gloria Hallelujah', cursive;
}
