.app {
  text-align: center;
  width: 800px;
  margin: 16px auto;
}

.movie-controls {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 76px;
}

.subheader {
  width: 450px;
  margin: 0 auto;
  p {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .app {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .movie-controls {
    flex-direction: row;
    justify-content: center;
    width: 70%;
    button {
      margin: 0 8px;
    }
  }

  .subheader {
    width: 100%;
  }
}


