.app {
  text-align: center;
  width: 800px;
  margin: 16px auto;
}

.movie-controls {
  margin: 24px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin-bottom: 0;
  img {
    width: 50px;
    margin-bottom: 10px;
  }
}

h2 {
  margin-bottom: 1rem;
}

.subheader {
  margin: 0 auto;
  p {
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
    color: $text-secondary;
  }
}

@media screen and (max-width: 800px) {
  .app {
    width: 90%;
  }
}

@media screen and (max-width: 740px) {

  .subheader {
    p {
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 3rem;
    img {
      width: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .movie-controls {
      button {
        height: 45px;
      }
    }
  .subheader {
    p {
      font-size: 0.875rem;
    }
  }

  h1 {
    font-size: 1.5rem;
      img {
        width: 30px;
      }
  }
}

@media screen and (max-width: 330px) {
  .movie-controls {
    flex-direction: column;
    .btn:nth-child(1) {
      margin-bottom: 8px;
      width: 100%;
    }
    }
}
