.btn {
  border-radius: 9999px;
  // transition: 0.3s ease-in;
  font-size: 20px;
  padding: 0.375rem 1.75rem;
}

// .btn-primary {

  // background: rgb(255,61,128);
  // background: linear-gradient(139deg, rgba(255,61,128,1) 15%, rgba(255,12,41,1) 100%);
  // moz-transition: all .4s ease-in-out;
  // -o-transition: all .4s ease-in-out;
  // -webkit-transition: all .4s ease-in-out;
  // transition: all .4s ease-in-out;

  // border: none;
  
  // &:hover {
  //   background: rgb(255,61,128);
  //   moz-transition: all .4s ease-in-out;
  //   -o-transition: all .4s ease-in-out;
  //   -webkit-transition: all .4s ease-in-out;
  //   transition: all .4s ease-in-out;
  // }
// }

.btn-outline-primary {
  color: white;
  &:hover {
    background-color: $medium-gray;
  }
}

.btn-read-more {
  font-size: 14px;
}


