.form-underlay {
  background-color: black;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.form-container {
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: $dark-gray;
  .btn-outline-primary {
    color: $pink;
    &:hover {
      color: white;
      background-color: $pink;
    }
  }
}




